#map{
	height: 100%;
	width: 100%;
}
html{
  width: 100%;
  height: 100%;
}
body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}
#topHead{
  height: 20px;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  z-index: 99999;
}
#graphicsLayer1_layer circle{
  cursor: pointer;
}
#credits{
  position: absolute;
  right: 10px;
  top: 5px;
  color: black;
  text-decoration: none;
}
#credits-content{
  display:none;
}
.note{
  display: none;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px 10px;
  font-size: .9em;
}
.note a{
  color: yellow;
}
h3{
  margin-top: 0;  
}
#video{
  bottom: 10px;
  right: 10px;
  width: 510px;
  height: 317px;
  border: 2px solid black;
  position: absolute;
  z-index: 99;

}
#mapMain{
  height: 100%;
  width:100%;
  top: 20px;
}
#ytapiplayer{
  top:5%;
  left: 2%;
  bottom:5%;
}
#player{
  top:5%;
  left: 2%;
  bottom:5%;
}
#barra{
  display: none;
}
@media only screen and (max-width: 530px) {
  .loading-indicator{
    display: none!important;
  }
  #mapMain{
    height: 50%;
  }
  #video{
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
  }
}
@media only screen and (min-width: 531px) and (max-width: 641px) {
.loading-indicator{
    display: none!important;
  }
#mapMain{
    width: 50%;
  }
  #credits{
    display: none;
  }
  #video{
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
  }
  .note{
    width: 50%;
  }
}